@media screen and (max-width: 780px) {
    .frame{
        height: 15vh;
    }
  header {
    .logo {
      width: 100%;
      height: 100%;
      display: grid;
      place-items: center;
      img {
        width: 20rem;
      }
    }
    #check {
      display: none;
    }
    label i {
      visibility: visible;
      font-size: 1.4rem;
    }
    #btn_1{
        display: block;
        opacity:1;
        transition: 0.5s;
        position: fixed;
        top: 3%;
        left: 5%;
    }
    #btn_2{
       display: block;
        opacity:0;
        transition: 0.5s;
        position: fixed;
        top: 3%;
        left: 5%;
    }
    nav {
      position: fixed;
      top: 0%;
      left: -50%;
      width: 45%;
      height: 100%;
      line-height: 60px;
      background-color: rgba(177, 175, 175, 0.889);
      transition: all 0.5s;
      .logo2{
        width: 100%;
        display: block;
        place-items: center;
        background-color: rgb(52, 132, 244);
        border-bottom: 0.5rem solid #fff;
       img{
        margin: 3rem 0 0 4rem;
        width: 60%;
            text-align: center;
       }
      }
      ul {
        // padding-top: 8rem;
        width: 100%;
        flex-direction: column;
        align-items: center;
        li {
          width: 100%;
          border-bottom: 2px solid #fff;
          a {
            padding: 0 0 0 3rem;
          }
        }
      }
    }
    #check:checked ~ nav {
      left: 0%;
    }
    #check:checked ~ label #btn_1{
    left: 37%;
    opacity:0;
    pointer-events: none;
}
    #check:checked ~ label #btn_2{
    left: 37%;
    opacity:1;
    z-index: 111;
}
    
  }
}
// styling part 2 